.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}


.header .logo {
	display: none;
}

.header .navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 56px;
	line-height: 56px;
}



.header .navbar .links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
}

.header .navbar .links a{
	min-width: 20%;
	padding: 0;
	margin: 0;
	color: aliceblue;
	text-align: center;
	text-decoration: none;

}

.header .navbar .links a:hover{
	background:rgba(0,0,0,0.2);
}

@media (min-width: 50em) {
	.header .navbar .logo {
		display: block;
	}
	
	.header .navbar img {
		max-width: 56px;
	}



	.header .navbar .links {
		max-width: 50%;
		margin-right: 15%;

	}

}